{% extends 'sample/base.html' %}
{% block content %}
{% load staticfiles %}

<!-- Start Slider -->
    <div id="slides-shop" class="cover-slides" >
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'assets/images/n.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br>ShopNani</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'assets/images/n2.jfif' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> ShopNani</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'assets/images/n0.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br>ShopNani</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div><br>
<!-- End Slider -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <span class="d-block p-2 bg-light text-left text-white"><h1>Best Cashback Offers</h1></span>
        <div class="row">
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
</div>
<div class="categories-shop">
<div class="row"><div class="col-sm-3 col-md-2 "><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
    <div class="col-sm-3 col-md-2"><span class="d-block p-2 bg-dark text-center text-white">offers</span></div>
</div></div>
  <!-- Start Categories  -->

    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'assets/images/b1.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="#">Banner</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'assets/images/b2.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="#">Banner</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'assets/images/b3.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="#">Banner</a>
                    </div>
                </div></div>
        </div>
    <!-- End Categories -->
  <!-- Start Feed  -->
         <div class="categories-shop">
<span class="d-block p-2 bg-light text-left text-white"><h1> Top Sites </h1></span>
        <div class="container">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'assets/images/myntra.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="https://www.myntra.com"></a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'assets/images/amazon.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="https://www.amazon.com"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'assets/images/flipkart.png' %}" alt="" />
                    <div class="hov-in">
                        <a href="https://www.flipkart.com"></a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'assets/images/ebbay.png' %}" alt="" />
                    <div class="hov-in">
                        <a href="https://www.ebay.com"></a>
                    </div>
                </div>
            </div>
        </div>
    </div></div></div>
    <!-- End Feed  -->
        <!-- shop now -->
<div class="container">
 <div class="gtco-container">
     <div class="row">
  <div class="col-sm-12">
      <div role="banner">
          <span class="d-block p-2 bg-light text-center text-white"><h1> Join ShopNani To Get Rs.50 bonus</h1>
          <a class="btn btn-info" role="button" href=/accounts/register/>Shop Now</a></span><br>
    </div>
  </div></div>
</div>
</div>
 </div>
<!-- End shop now -->

<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <span class="d-block p-2 bg-light text-left text-white"><h1>Latest Offers</h1></span>
        <div class="row">
        <div class="col-8 col-sm-12">
            <span class="d-block p-2 bg-light text-left text-white"><h1>Offers</h1></span>
            <span class="d-block p-2 bg-light text-left text-white"><h1>Offers</h1></span>
            <span class="d-block p-2 bg-light text-left text-white"><h1>Offers</h1></span>
            <span class="d-block p-2 bg-light text-left text-white"><h1>Offers</h1></span>
            <span class="d-block p-2 bg-light text-left text-white"><h1>Offers</h1></span>
            <span class="d-block p-2 bg-light text-left text-white"><h1>Offers</h1></span>
            <span class="d-block p-2 bg-light text-left text-white"><h1>Offers</h1></span>
            <span class="d-block p-2 bg-light text-left text-white"><h1>Offers</h1></span>

        </div>
      </div>
    </div>
      <div class="col-sm-4">
        <div class="row">
        <div class="col-2 col-sm-12">
            <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'assets/images/b1.jpg' %}" alt="" />
                    </div>
                    <div class="col-sm-12">
                       <div role="banner">
                           <span class="d-block p-2 bg-light text-center text-white"><h1>Never Miss a Deal</h1>
                               <a class="btn btn-info" role="button" href=/accounts/register/>Subscribe Now</a></span>
                       </div></div><br>
            <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'assets/images/b1.jpg' %}" alt="" />
                    </div>
        </div>
      </div>
    </div>
  </div>
</div></div></div>

{% endblock content %}
